<% include head.ejs %>

  <div id='root'></div>
  <script id="bundleScript" src="/dist/bundle.js"
    <% if (user.email) { %>
      data-user="<%= JSON.stringify(user) %>"
    <% } %>
  >
  </script>

<% include foot.ejs %>