h1 {
  color: #11234D;
}

.nav {
  text-align: center;
  /*position: fixed;*/
  bottom: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav-btn {
  background-color: white;
  font-size: 12px;
  border: 1px solid;
  padding: 10px;
}

.newLoteContainer {
  text-align: center;
}

.lockedStatus {
  margin: 30px;
}

.submitButton {
  margin: 10px;
}

/*
.lote-form {
  width: 400px;
  background-color: red;
}

label.lote-form-label {
  width: 100%;
  background-color: yellow;
}

.lote-form-input-message {
  width: 100%;
  background-color: pink;
}*/
